p{
    color: red;
    position: absolute;
    top: 20;
    left: 50;
    cursor: pointer;
    font-style: italic;
    appearance: none;
    transition: ease-in-out;
    animation: infinite;
    background-color: blue;
    border: 2px solid brown;
    margin: 20px;
    padding: 10px 15px;
    height: 100%;
    width: 200px;
    box-sizing: border-box;
    outline: none;
    text-align: justify;
    direction: rtl;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 15px;
    word-spacing: normal;
    text-shadow: 12px 2px 5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    max-width: 100px;
    position: relative;
    z-index: 05;
    overflow: scroll;
    opacity: 20%;
    border-radius: 20px;
    box-shadow: 10px 2px red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    flex-grow: 1;
    flex-basis: 25%;
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 2;
}
@font-face {
    font-family: "vazir";
    src: url("../E-Commerce-Website/E-Commerce-Website/src/assets/icons/about.png");
}
p:visited{
    display: block;
}
p:hover{
    color: red;
}
p:active{
    background: #000;
}
div:first-child{
    color: blue;
}