.animation {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    transform: translateX(20px);
  }
  20% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: scale(2);
  }
}
