.google:active {
  color: red;
}
.google:hover {
  background-color: blue;
}
.google:visited {
  color: yellow;
}
.checkBox:checked {
    color: yellow;
}

.checkBox:dir {
    direction: ltr;
}
.btn-disabled:disabled {
    color:purple
}
.ul:first-child {
    font-size: 80px;
}
.focus:focus {
    border: 4px solid orange;
}

.ul:last-child {
    font-size: 60px;
}
.ul:nth-child(2) {
    color: blue;
}
.read-only:read-only {
    background-color: red;
}
.required:required {
    color: brown;
}
