.lorem::after {
   content: "hello and welcome to";
}
.lorem3::before {
    content: "good bye see you";
}

.lorem::first-letter {
    font-size: 80px;
    color: red;
}
.lorem2::first-line {
    font-style: italic;
}
::marker {
    /* background-color: red; */
    color: red;
}

::selection {
    background-color: yellow;
    color: gray;
}
