.one {
  width: 250px;
  height: 250px;
  background-color: blueviolet;
}
.one:hover {
  transform: translate(60px, 50px);
}
.two {
  width: 250px;
  height: 250px;
  background-color: orange;
}
.two:hover {
  transform: scale(2.5);
}
.three {
  width: 250px;
  height: 250px;
  background-color: red;
}
.three:hover {
  transform: rotate(90deg);
}
.four {
  width: 250px;
  height: 250px;
  background-color: brown;
}
.four:hover {
  transform: skew(60, 50);
}
