.sentence {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

@media screen and (max-width: 400px) {
  .sentence {
    background-color: red;
  }
}
@media screen and (max-width: 760px) and (min-width: 401px) {
  .sentence {
    background-color: blue;
  }
}
